
.navbar-nav .nav-link {
    color: #000; 
    font-weight: 600; 
    transition: color 0.3s, background-color 0.3s; 
}

.navbar-nav .nav-link:hover {
    color: #fff; 
    background-color: #401588; 
    text-decoration: none; 
    border-radius: 5px; 
    padding: 10px; 
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;   
    font-size: large;
}

.hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.footer {
    background-color: #401588;
    padding: 20px;
    text-align: center;
    color: white; 
}


.about-title {
    font-size: 2em; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 20px;
    font-family: 'Source Code Pro', monospace; 
}

.about-description {
    font-size: 1.2em; 
    font-weight: 700; 
    line-height: 1.5; 
    color: #0c0c0c; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.521); 
    border-radius: 5px; /
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.about-photo {
    width: 100%; 
    opacity: 0.7; 
    transition: opacity 0.5s; 
}

.about-photo:hover {
    opacity: 1; 
}

